VITE_SUPABASE_URL=https://ykoijifgweoapitabgxx.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inlrb2lqaWZnd2VvYXBpdGFiZ3h4Iiwicm9sZSI6ImFu$
VITE_SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inlrb2lqaWZnd2VvYXBpdGFiZ3h4Iiwicm9s$
SUPABASE_URL=https://ykoijifgweoapitabgxx.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inlrb2lqaWZnd2VvYXBpdGFiZ3h4Iiwicm9sZSI6ImFub24iL$
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inlrb2lqaWZnd2VvYXBpdGFiZ3h4Iiwicm9sZSI6I$

